<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <h1>Private Wikis</h1>
      <% if(currentUser) { %>
        <a href="/wikis/new" class="btn btn-success">New Private Wiki</a>
      <% } %>
      <ul class="list-group">
<!-- #1 -->
        <% wikis.forEach((wiki) => { %>
<!-- #2 -->
          <% if(currentUser.role === "premium" && wiki.private === true) { %>
          <li class="list-group-item">
            <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
          </li>
          <% } %>
        <% }) %>
      </ul>

    </main>
  </body>
</html>